{% extends 'base.html' %}
<!DOCTYPE html>
<!--suppress ALL -->
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Connexion</title>
</head>
{% block content %}
    <body  class=" border-top-wide border-primary d-flex flex-column">
        <div class="page page-center">
            <div class="container-tight py-4">
                <form class="card card-md" action="{% url 'register_view' %}" method="post">
                    {% csrf_token %}
                    <div class="card-body">
                        <h2 class="card-title text-center mb-4">Inscription</h2>
                        <div class="mb-3">
                            <label class="form-label">Prénom</label>
                            <input type="text" class="form-control" name="first_name" placeholder="Entrez votre prénom">
                            {% if form.first_name.errors %}
                                <div class="text-danger">
                                    {{ form.first_name.errors.0 }}
                                </div>
                            {% endif %}
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Nom</label>
                            <input type="text" class="form-control" name="last_name" placeholder="Entrez votre nom">
                            {% if form.last_name.errors %}
                                <div class="text-danger">
                                    {{ form.last_name.errors.0 }}
                                </div>
                            {% endif %}
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Nom d'utilisateur</label>
                            <input type="text" class="form-control" name="username" placeholder="Entrez un nom d'utilisateur">
                            {% if form.username.errors %}
                                <div class="text-danger">
                                    {{ form.username.errors.0 }}
                                </div>
                            {% endif %}
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Addresse électronique</label>
                            <input type="email" class="form-control" name="email" placeholder="Entrez votre email">
                            {% if form.email.errors %}
                                <div class="text-danger">
                                    {{ form.email.errors.0 }}
                                </div>
                            {% endif %}
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Mot de passe</label>
                            <div class="input-group input-group-flat">
                                <input type="password" class="form-control" name="password1"  placeholder="Créez un mot de passe"  autocomplete="off">
                                <span class="input-group-text">
                                    <a href="#" class="link-secondary" title="Show password" data-bs-toggle="tooltip"><!-- Download SVG icon from http://tabler-icons.io/i/eye -->
                                        <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><circle cx="12" cy="12" r="2" /><path d="M22 12c-2.667 4.667 -6 7 -10 7s-7.333 -2.333 -10 -7c2.667 -4.667 6 -7 10 -7s7.333 2.333 10 7" /></svg>
                                    </a>
                                </span>
                                {% if form.password1.errors %}
                                    <div class="text-danger">
                                        {{ form.password1.errors.0 }}
                                    </div>
                                {% endif %}
                                <small class="form-text text-muted">
                                    {{ form.password1.help_text }}
                                </small>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Confirmation du mot de passe</label>
                            <div class="input-group input-group-flat">
                                <input type="password" class="form-control" name="password2" placeholder="Confirmer le mot de passe"  autocomplete="off">
                                <span class="input-group-text">
                                    <a href="#" class="link-secondary" title="Show password" data-bs-toggle="tooltip"><!-- Download SVG icon from http://tabler-icons.io/i/eye -->
                                        <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><circle cx="12" cy="12" r="2" /><path d="M22 12c-2.667 4.667 -6 7 -10 7s-7.333 -2.333 -10 -7c2.667 -4.667 6 -7 10 -7s7.333 2.333 10 7" /></svg>
                                    </a>
                                </span>
                                {% if form.password2.errors %}
                                    <div class="text-danger">
                                        {{ form.password2.errors.0 }}
                                    </div>
                                {% endif %}
                            </div>
                        </div>
{#                        <div class="mb-3">#}
{#                            <label class="form-check">#}
{#                                <input type="checkbox" class="form-check-input"/>#}
{#                                <span class="form-check-label">Agree the <a href="./terms-of-service.html" tabindex="-1">terms and policy</a>.</span>#}
{#                            </label>#}
{#                        </div>#}
                        <div class="form-footer">
                            <button type="submit" class="btn btn-primary w-100">Create new account</button>
                        </div>
                    </div>
                </form>
                <div class="text-center text-muted mt-3">
                    Déjà inscrit ? <a href="{% url 'login' %}">Connectez-vous ici</a>
                </div>
            </div>
        </div>
    <!-- Libs JS -->
    <!-- Tabler Core -->
    </body>
{% endblock %}
</html>

    <div class="login-container">
        <h2>Sign Up</h2>
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Sign Up</button>
            <p>Déjà inscrit ? <a href="{% url 'login' %}">Connectez-vous ici</a></p>
        </form>
    </div>

