{% extends 'base_directory/base.html' %}
<!DOCTYPE html>
<!--suppress ALL -->
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inscription</title>
</head>
{% block content %}
    <body  class=" border-top-wide border-primary d-flex flex-column">
        <div class="page page-center">
            <div class="container-tight py-2">
                <form class="card card-md" action="{% url 'register_view' %}" method="post">
                    {% csrf_token %}
                    <div class="card-body">
                        <h1 class="text-center mb-2">Inscription</h1>
                    
                        <!-- Champ Type d'utilisateur -->
                        <div class="mb-3">
                            <label class="form-label">Type d'utilisateur</label>
                            <select name="user_type" class="form-control" required>
                                <option value="student">Étudiant</option>
                                <option value="recruiter">Recruteur</option>
                                <option value="service_stage">Service Stage</option>
                            </select>
                            {% if form.user_type.errors %}
                                <div class="text-danger">
                                    {{ form.user_type.errors.0 }}
                                </div>
                            {% endif %}
                        </div>
                        <div class="row mb-3">
                            <div class="col-md-6">
                                <label class="form-label">Prénom</label>
                                <input type="text" class="form-control" name="first_name" placeholder="Votre prénom" required>
                                {% if form.first_name.errors %}
                                    <div class="text-danger">
                                        {{ form.first_name.errors.0 }}
                                    </div>
                                {% endif %}
                            </div>
                            <div class="col-md-6">
                                <label class="form-label">Nom</label>
                                <input type="text" class="form-control" name="last_name" placeholder="Votre nom" required>
                                {% if form.last_name.errors %}
                                    <div class="text-danger">
                                        {{ form.last_name.errors.0 }}
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-md-6">
                                <label class="form-label">Nom d'utilisateur</label>
                                <input type="text" class="form-control" name="username" placeholder="Votre pseudo" required>
                                {% if form.username.errors %}
                                    <div class="text-danger">
                                        {{ form.username.errors.0 }}
                                    </div>
                                {% endif %}
                            </div>
                            <div class="col-md-6">
                                <label class="form-label">Email</label>
                                <input type="email" class="form-control" name="email" placeholder="Votre email" required>
                                {% if form.email.errors %}
                                    <div class="text-danger">
                                        {{ form.email.errors.0 }}
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-md-6">
                                <label class="form-label">Mot de passe</label>
                                <input type="password" class="form-control" name="password1" placeholder="Mot de passe" required>
                                {% if form.password1.errors %}
                                    <div class="text-danger">
                                        {{ form.password1.errors.0 }}
                                    </div>
                                {% endif %}
                                <small class="form-text text-muted">
                                    {{ form.password1.help_text }}
                                </small>
                            </div>
                            <div class="col-md-6">
                                <label class="form-label">Confirmer mot de passe</label>
                                <input type="password" class="form-control" name="password2" placeholder="Confirmer mot de passe" required>
                                {% if form.password2.errors %}
                                    <div class="text-danger">
                                        {{ form.password2.errors.0 }}
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                        
{#                        <div class="mb-3">#}
{#                            <label class="form-check">#}
{#                                <input type="checkbox" class="form-check-input"/>#}
{#                                <span class="form-check-label">Agree the <a href="./terms-of-service.html" tabindex="-1">terms and policy</a>.</span>#}
{#                            </label>#}
{#                        </div>#}
                        <div class="form-footer">
                            <button type="submit" class="btn btn-dark w-100">Inscription</button>
                        </div>
                    </div>
                </form>
                <div class="text-center text-muted mt-3">
                    Déjà inscrit ? <a href="{% url 'login' %}">Connectez-vous ici</a>
                </div>
            </div>
        </div>
    <!-- Libs JS -->
    <!-- Tabler Core -->
    </body>
{% endblock %}
</html>



