<!DOCTYPE html>
<html lang="fr">
<head>
    <title>Consulter les Offres de Stage</title>
</head>
<body>
    <h1>Offres de Stage Disponibles</h1>
    <ul>
        {% for offre in offres %}
            <li>
                {{ offre.titre }} - {{ offre.description }} - {{ offre.date_limite_de_postulation }}
                <a href="{% url 'postuler_offre' offre.id %}">Postuler</a>
            </li>
        {% empty %}
            <li>Aucune offre disponible pour le moment.</li>
        {% endfor %}
    </ul>
</body>
</html>
