{% extends 'recruteur/base_recruteur.html' %}

{% block content %}
<div class="container">

    <!-- En-tête de l'entreprise -->
    <div class="card shadow-sm p-4 mb-4" style="background: linear-gradient(90deg, #1b5ba7, rgb(47, 179, 68));">
        <div class="row align-items-center">
            <div class="col-md-2">
                <img src="{{ offre.entreprise.get_logo_url }}" alt="Logo de {{ offre.entreprise.nom }}" class="img-fluid">
            </div>
            <div class="col-md-10">
                <h2 class="text-white">{{ entreprise.nom }}</h2>
                <p class="text-white mb-0">
                    <i class="fas fa-map-marker-alt"></i> {{ entreprise.siege }}
                    &nbsp;&nbsp;
                    <i class="fas fa-calendar-alt"></i> {{ entreprise.created|date:"Y" }}
                </p>
                <div class="mt-3">
                    <a href="#" class="btn btn-outline-light">Modifier</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Présentation de l'entreprise -->
    <div class="card mb-4">
        <div class="card-header">
            <h3>Présentation de l'entreprise</h3>
        </div>
        <div class="card-body">
            <p>{{ entreprise.description | safe }}</p>
        </div>
    </div>
</div>
{% endblock %}
