{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stage.ma - Trouve un Stage</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

</head>
<body>
    <!-- En-tête -->
    <header>
        <div class="logo">
            <h1>EIGSICA JOB</h1>
        </div>
        <nav>
            <ul>
                <li><a href="{% url 'consulter_offres' %}">Offres de stage</a></li>
            </ul>
        </nav>
        <div class="header-buttons">
            <button class="btn orange">Publier Offre de Stage</button>
            
            <!-- Icône de langue -->
            <button class="icon" onclick="toggleLanguage()">
                <i class="fas fa-globe"></i>
            </button>

            <!-- Menu déroulant profil -->
            <div class="profile-dropdown">
                <button class="icon" onclick="toggleProfileMenu()">
                    <i class="fas fa-user"></i>
                </button>
                {% if user.is_authenticated %}
                    <div class="dropdown-content" id="profileMenu">
                        <span>Espace Stagiaire</span>
                        <ul>
                            <li><a href="{% url 'espace_etudiant' %}">Tableau de bord</a></li>
                            <li><a href="#">Paramètres</a></li>
                            <li><a href="{% url 'logout' %}">Déconnexion</a></li>
                        </ul>
                    </div>
                {% else %}
                    <div class="dropdown-content" id="profileMenu">
                        <span>Espace Stagiaire</span>
                        <a href="{% url 'login' %}">Connexion</a>
                        <a href="{% url 'register_view' %}">S'inscrire</a>
                        <a href="#" class="btn blue">Espace recruteur</a>
                    </div>
                {% endif %}
                    
            </div>
        </div>
    </header>
    {% block content %}

    {% endblock content %}
</body>
<script>
    // Afficher / cacher le menu déroulant du profil
    function toggleProfileMenu() {
        document.getElementById('profileMenu').classList.toggle('show');
    }

    // Cacher le menu lorsque l'on clique en dehors de celui-ci
    window.onclick = function(event) {
        if (!event.target.closest('.profile-dropdown')) {
            let dropdown = document.getElementById('profileMenu');
            if (dropdown.classList.contains('show')) {
                dropdown.classList.remove('show');
            }
        }
    }

    // Fonction pour le changement de langue (exemple)
    function toggleLanguage() {
        alert("Changer de langue");
    }
</script>
</html>
